@import '_colors';
@import '_media-q';

.navbar{

    .navbar-bg-color {
        background-image: linear-gradient(to right, #22354778,   #3a3e4149);
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        margin-left: 40%;
        .text-color-navbar{
            color: $amarillo!important;

            &:hover{
                color: $color!important;
            }
        }
    }

    height: 15vh;
    z-index: 10;
.navbar__logo--img{
    height: 150px;
    width: 150px;
    margin-right: 50px;
    border-radius: 900px;
}

}
 
    











